#pro {
        color: white;
      }
      .top-nav {
        margin: 0;
        padding: 1px;
        animation: changeBg 13s infinite alternate;
        transition: background 2s ease-in-out;
      }

      @keyframes changeBg {
        0% {
          background-color: #ff9a9e;
        } /* Light pink */
        25% {
          background-color: #fad0c4;
        } /* Light coral */
        50% {
          background-color: #a1c4fd;
        } /* Soft blue */
        75% {
          background-color: #c2e9fb;
        } /* Light teal */
        100% {
          background-color: #d4fc79;
        } /* Light green */
      }
      .bounce-button {
        cursor: pointer;
        animation: bounce 1.2s infinite;
      }

      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-8px);
        }
      }
      .sticky {
        position: sticky;
        top: 0;
        z-index: 999;
      }

      .hover-underline {
        font-size: 1rem;
        color: #ffffff;
        position: relative;
        display: inline-block;
      }

      .hover-underline::after,
      .hover-underline::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #ff0000, #00ffff);
        bottom: -4px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;
      }

      .hover-underline::before {
        top: -4px;
        transform-origin: left;
      }

      .hover-underline:hover::after,
      .hover-underline:hover::before {
        transform: scaleX(1);
      }
      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L4.5 8l6.146 6.354a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
      }
      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L4.5 8l6.146 6.354a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
      }
      .pop-image {
        /* width: 300px; */
        /* height: auto; */
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      .pop-image:hover {
        transform: scale(0.9); /* Zooms the image 10% */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Optional shadow */
      }
      .pop-imag {
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      .pop-imag:hover {
        transform: scale(1.1); /* Zooms the image 10% */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Optional shadow */
      }
      .gallery {
        --g: 8px; /* the gap */

        display: grid;
        clip-path: inset(1px); /* to avoid visual glitchs */
      }
      .gallery > img {
        --_p: calc(-1 * var(--g));
        grid-area: 1/1;
        width: 350px; /* control the size */
        aspect-ratio: 1;
        cursor: pointer;
        transition: 0.4s 0.1s;
      }
      .gallery > img:first-child {
        clip-path: polygon(
          0 0,
          calc(100% + var(--_p)) 0,
          0 calc(100% + var(--_p))
        );
      }
      .gallery > img:last-child {
        clip-path: polygon(
          100% 100%,
          100% calc(0% - var(--_p)),
          calc(0% - var(--_p)) 100%
        );
      }
      .gallery:hover > img:last-child,
      .gallery:hover > img:first-child:hover {
        --_p: calc(50% - var(--g));
      }
      .gallery:hover > img:first-child,
      .gallery:hover > img:first-child:hover + img {
        --_p: calc(-50% - var(--g));
      }