{% extends "base.html" %} {% block title%} products {% endblock %} {% block
content%}

<div class="container mt-5">
  <div class="card">
    <div class="card-header">This is the products page</div>
    <div class="card-body">
      <h5 class="card-title text-center mt-5">Products Page</h5>
      <p class="card-text"></p>
      <div class="container">
        <!-- modal start -->
        <div>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Product
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Add product section
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <!-- form start -->
                  <form action="/add_products" method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Product Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="productName"
                        aria-describedby="emailHelp"
                        name="product_name"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label"
                        >Buying Price</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="buyingPrice"
                        name="buying"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword2" class="form-label"
                        >Selling Price</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="sellingPrice"
                        name="selling"
                      />
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Add Product
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- form end -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal end  -->
      </div>
    </div>
  </div>

  <table id="example" class="table table-striped">
    <thead>
      <tr>
        <th>product id</th>
        <th>product name</th>
        <th>buying p</th>
        <th>selling p</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

<!-- product 1 -->
<div class="container mt-5">
  <div class="card border-0">
    <div class="card-header">
      <h5>Top Selling Items<span class="float-end text-decoration-underline">See All ></span></h5>
    </div>
    <div class="card-body">
      <!-- start -->
      <div class="card-group">
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</div>

<!-- product 2 -->
<div class="container mt-5">
  <div class="card border-0">
    <div class="card-header text-center bg-danger">
      <h5>Sponsored Products<span class="float-end text-decoration-underline">See All ></span></h5>
    </div>
    <div class="card-body">
      <!-- start -->
      <div class="card-group">
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
        <div class="card">
          <img src="static/car1.jpg" class="card-img-top" alt="..." />
          <div style="position: absolute; top: 5px; left: 5px">
            <span class="badge rounded-pill text-bg-warning">-37%</span>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <h6 class="card-title mt-2">Fitted Sheet Waterproof...</h6>
            <p class="card-text">KSh 694</p>
            <p class="card-text text-decoration-line-through">KSh 2200</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"
              ><div class="d-grid gap-2">
                <button class="btn btn-warning" type="button">
                  Add to Cart
                </button>
              </div></small
            >
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</div>

{% endblock %}
